
@{
    ViewBag.Title = "Character Management";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/CharacterMgmt.js")" type="text/javascript"></script>
}
@model TheAftermath_V2.Classes.CharacterData
<script type="text/javascript">
    $(document).ready(function () {
        $('body').css('background-image', 'url("../Content/Images/Textures/darkScratch.jpg")');
        $('#bodyContainer').removeClass("container").addClass("container-fluid");

        if ($("#sex").val() == "Female") $(".facialHairDiv").html("");
    });
</script>

<!-- TASKBAR -->
<div class="row bg-dark sticky-top border-0 border-white">
    <div class="col-8 px-0">
        <h5 class="font-weight-bold my-3 text-center text-white totalExpLbl">TOTAL EXP:</h5>
    </div>
    <div class="col-4 px-0">
        <div class="input-group my-2 text-center">
            <input class="form-control text-center px-0 py-0 totalExpVal" type="number" value="@Model.TotalExp" readonly />
        </div>
    </div>
    <div class="col-8 px-0">
        <h5 id="availExpLbl" class="font-weight-bold my-3 text-center text-white">EXP POOL:</h5>
    </div>
    <div id="skillPtsVal" class="col-4 px-0">
        <div class="input-group my-2 text-center">
            <input class="form-control text-center px-0 py-0 expPool" type="number" id="expPool" value="@Model.AvailableExp" readonly />
        </div>
    </div>
</div>

<!-- ATTRIBUTE ADJUSTMENT MODAL -->
<div class="modal fade" id="attributeModal" data-backdrop="static" tabindex="-3" aria-labelledby="attributeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-header bg-black">
            <h4 class="modal-title font-weight-bold text-white mx-auto" id="staticBackdropLabel">ADJUST ATTRIBUTE</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">

                <div class="row bg-secondary" id="expPoolRow">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <h5 class="font-weight-bold text-center my-3 mx-auto expPoolLbl" data-shortTxt="EXP:" data-longTxt="EXP POOL:">EXP:</h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0 expPool" type="number" value="" readonly />
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="row bg-secondary" id="costRow">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <h5 class="font-weight-bold text-center my-3 mx-auto costDefLbl" data-shortTxt="COST:" data-longTxt="COST TO INCREASE:">COST:</h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0" id="attrCost" type="number" value="" readonly />
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="row bg-white">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <button class="btn btn-block btn-dark text-center my-2 px-0" id="decAttrBtn">-</button>
                    </div>
                    <div class="col-3">
                        <h5 class="font-weight-bold text-center text-uppercase my-3 mx-auto" id="currentAttr" data-shortTxt="" data-longTxt=""></h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0" type="number" id="currentAttrVal" name="CurrentAttrVal" value="" readonly />
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-block btn-dark text-center my-2 px-0" id="incAttrBtn">+</button>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row bg-white">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <h5 class="font-weight-bold my-3 mx-auto text-center" id="originalAttr">ORIGINAL:</h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0" type="number" id="originalAttrVal" name="OriginalAttrVal" value="" readonly />
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="attrConfirmBtn" class="btn btn-lg btn-success border border-dark mx-auto" data-attr="">CONFIRM</button>
                <button type="button" id="attrCancelBtn" class="btn btn-lg btn-danger border border-dark mx-auto" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<!-- SKILL ADJUSTMENT MODAL -->
<div class="modal fade" id="skillModal" data-backdrop="static" tabindex="-4" aria-labelledby="skillModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-header bg-black">
            <h4 class="modal-title font-weight-bold text-white mx-auto" id="staticBackdropLabel">ADJUST SKILL</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <input id="skillType" type="hidden" name="" value="" readonly />
                <input id="skillName" type="hidden" name="" value="" readonly />

                <div class="row bg-secondary" id="expPoolRow">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <h5 class="font-weight-bold text-center my-3 mx-auto expPoolLbl" data-shortTxt="EXP:" data-longTxt="EXP POOL:">EXP:</h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0 expPool" type="number" name="expPool" value="" readonly />
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="row bg-secondary" id="costRow">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <h5 class="font-weight-bold text-center my-3 mx-auto costLbl" data-shortTxt="COST:" data-longTxt="COST TO INCREASE:">COST:</h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0" id="skillCost" type="number" value="" readonly />
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="row bg-white">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <button class="btn btn-block btn-dark text-center my-2 px-0" id="decSkillBtn">-</button>
                    </div>
                    <div class="col-3">
                        <h5 class="font-weight-bold text-center text-uppercase my-3 mx-auto" id="currentSkill" data-shortTxt="" data-longTxt=""></h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0" type="number" id="currentSkillVal" name="CurrentSkillVal" value="" readonly />
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-block btn-dark text-center my-2 px-0" id="incSkillBtn">+</button>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row bg-white">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <h5 class="font-weight-bold my-3 mx-auto text-center" id="originalAttr">ORIGINAL:</h5>
                    </div>
                    <div class="col-3">
                        <div class="input-group my-2 text-center">
                            <input class="form-control text-center px-0 py-0" type="number" id="originalSkillVal" name="OriginalSkillVal" value="" readonly />
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="skillConfirmBtn" class="btn btn-lg btn-success border border-dark mx-auto" data-attr="">CONFIRM</button>
                <button type="button" id="skillCancelBtn" class="btn btn-lg btn-danger border border-dark mx-auto" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<!-- NEW SKILLS MODAL -->
<div class="modal fade" id="newSkillsModal" data-backdrop="static" tabindex="-5" aria-labelledby="newSkillsModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-header bg-black">
            <h4 class="modal-title font-weight-bold text-white mx-auto" id="staticBackdropLabel">LEARN NEW SKILL</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body" id="NSM-begin">
                <div class="row bg-dark">
                    <div class="col-4">
                        <h6 class="font-weight-bold text-center text-white my-2">SKILL</h6>
                    </div>
                    <div class="col-8">
                        <h6 class="font-weight-bold text-center text-white my-2">DSCRPT</h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger border border-dark mx-auto" id="NSM-cancelBtn" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<!-- SUB SKILLS MODAL -->
<div class="modal fade" id="subSkillsModal" data-backdrop="static" tabindex="-6" aria-labelledby="subSkillsModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-body" id="SSM-begin">
                <div class="row bg-dark">
                    <div class="col-4">
                        <h6 class="font-weight-bold text-center text-white my-2">SKILL</h6>
                    </div>
                    <div class="col-8">
                        <h6 class="font-weight-bold text-center text-white my-2">DSCRPT</h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger border border-dark mx-auto" id="SSM-cancelBtn" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN FORM -->
@using (Html.BeginForm("CharacterManagement", "Characters", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!-- BIOGRAPHY -->
    <div class="row bg-black">
        <div class="col-12">
            <h4 id="biographyLbl" class="font-weight-bold my-2 text-center text-white">CHARACTER BIOGRAPHY</h4>
        </div>
    </div>

    <fieldset>
        <!-- BACKGROUND || STRATEGY -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="backgroundLbl" class="font-weight-bold my-3 text-center">BACKGROUND:</h6>
            </div>
            <div class="col-3 px-0">
                <div class="input-group my-2 text-center">
                    <input class="form-control text-center px-0 py-0" type="text" id="background" name="Background" value="@Model.Background" readonly />
                </div>
            </div>
            <div class="col-3 px-0">
                <h6 id="strategyLbl" class="font-weight-bold my-3 text-center" data-shortTxt="STRATEGY:" data-longTxt="SURVIVAL STRATEGY:">STRATEGY:</h6>
            </div>
            <div class="col-3 px-0">
                <div class="input-group my-2 text-center">
                    <input class="form-control text-center px-0 py-0" type="text" id="strategy" name="Strategy" value="@Model.Strategy" readonly />
                </div>
            </div>
        </div>

        <!-- HISTORY || HABITAT -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="historyLbl" class="font-weight-bold my-3 text-center">HISTORY:</h6>
            </div>
            <div class="col-3 px-0">
                <div class="input-group my-2 text-center">
                    <input class="form-control text-center px-0 py-0" type="text" name="History" value="@Model.History" readonly />
                </div>
            </div>
            <div class="col-3 px-0">
                <h6 id="habitatLbl" class="font-weight-bold my-3 text-center" data-shortTxt="HABITAT:" data-longTxt="ORIGINAL HABITAT:">HABITAT:</h6>
            </div>
            <div class="col-3 px-0">
                <div class="input-group my-2 text-center">
                    <input class="form-control text-center px-0 py-0" type="text" name="Habitat" value="@Model.Habitat" readonly />
                </div>
            </div>
        </div>

        <!-- DEMOGRAPHICS || ATTRIBUTES -->
        <div class="row bg-white border-top border-dark">
            <div class="col-6 border-right border-dark">
                <h4 id="demographicsLbl" class="font-weight-bold my-2 text-center">DEMOGRAPHICS</h4>
            </div>
            <div class="col-6">
                <h4 id="attributeLbl" class="font-weight-bold my-2 text-center">ATTRIBUTES</h4>
            </div>
        </div>

        <!-- NAME || MEM / STR -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="nameLbl" class="font-weight-bold my-3 text-center">NAME:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" name="Name" value="@Model.Name" readonly />
                </div>
            </div>

            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="memory" data-shortTxt="MEM" data-longTxt="MEMORY" type="button">MEM</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="memory" name="Memory" value="@Model.Memory" readonly />
                </div>
            </div>
            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="strength" data-shortTxt="STR" data-longTxt="STRENGTH" type="button">STR</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="strength" name="Strength" value="@Model.Strength" readonly />
                </div>
            </div>
        </div>
        <!-- DOB || LOG / END -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="birthdateLbl" class="font-weight-bold my-3 text-center" data-shortTxt="D.O.B:" data-longTxt="BIRTHDATE">BIRTHDATE:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" name="Birthdate" value="@Model.Birthdate" readonly />
                </div>
            </div>
            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="logic" data-shortTxt="LOG" data-longTxt="LOGIC" type="button">LOG</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="logic" name="Logic" value="@Model.Logic" readonly />
                </div>
            </div>
            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="endurance" data-shortTxt="END" data-longTxt="ENDURANCE" type="button">END</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="endurance" name="Endurance" value="@Model.Endurance" readonly />
                </div>
            </div>
        </div>
        <!-- SEX || PER / AGL -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="sexLbl" class="font-weight-bold my-3 text-center">SEX:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" id="sex" name="Sex" value="@Model.Sex" readonly />
                </div>
            </div>

            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="perception" data-shortTxt="PER" data-longTxt="PERCEPTION" type="button">PER</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="perception" name="Perception" value="@Model.Perception" readonly />
                </div>
            </div>
            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="agility" data-shortTxt="AGL" data-longTxt="AGILITY" type="button">AGL</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="agility" name="Agility" value="@Model.Agility" readonly />
                </div>
            </div>
        </div>
        <!-- ETHNIC || WILL / SPD -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="ethnicityLbl" class="font-weight-bold my-3 text-center" data-shortTxt="ETHNIC:" data-longTxt="ETHNICITY:">ETHNIC:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" name="Ethnicity" value="@Model.Ethnicity" readonly />
                </div>
            </div>

            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="willpower" data-shortTxt="WILL" data-longTxt="WILLPOWER" type="button">WILL</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="willpower" name="Willpower" value="@Model.Willpower" readonly />
                </div>
            </div>
            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="speed" data-shortTxt="SPD" data-longTxt="SPEED" type="button">SPD</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="speed" name="Speed" value="@Model.Speed" readonly />
                </div>
            </div>
        </div>
        <!-- HAIR || CHA / BTY -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="hairColorLbl" class="font-weight-bold my-3 text-center" data-shortTxt="HAIR:" data-longTxt="HAIR COLOR:">HAIR:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" id="hairColor" name="HairColor" value="@Model.HairColor" readonly />
                </div>
            </div>

            <div class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-light border border-success bw-thick text-center font-weight-bold my-1 attributeBtn" data-attr="charisma" data-shortTxt="CHA" data-longTxt="CHARISMA" type="button">CHA</button>
                </div>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="charisma" name="Charisma" value="@Model.Charisma" readonly />
                </div>
            </div>
            <div class="col-2 px-0">
                <h6 id="beautyLbl" class="font-weight-bold my-3 text-center" data-shortTxt="BTY" data-longTxt="BEAUTY">BTY</h6>
            </div>
            <div class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="beauty" name="Beauty" value="@Model.Beauty" readonly />
                </div>
            </div>
        </div>
        <!-- EYE -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="eyeColorLbl" class="font-weight-bold my-3 text-center" data-shortTxt="EYES:" data-longTxt="EYE COLOR:">EYES:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" name="EyeColor" value="@Model.EyeColor" readonly />
                </div>
            </div>

            <div class="col-6 bg-secondary px-0">
                <h4 id="derivedAttrLbl" class="font-weight-bold my-2 text-center" data-shortTxt="DERIVED" data-longTxt="DERIVED TRAITS">DERIVED</h4>
            </div>
        </div>
        <!-- HAIRSTYLE || SEQ / ACT -->
        <div class="row bg-white">
            <div class="col-3 px-0">
                <h6 id="hairstyleLbl" class="font-weight-bold my-3 text-center">HAIRSTYLE:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" id="Hairstyle" name="Hairstyle" value="@Model.HairStyle" readonly />
                </div>
            </div>

            <div class="col-2 bg-secondary px-0">
                <h6 id="sequenceLbl" class="font-weight-bold my-3 text-center text-white" data-shortTxt="SEQ" data-longTxt="SEQUENCE">SEQ</h6>
            </div>
            <div class="col-1 bg-secondary px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="sequence" name="Sequence" value="@Model.Sequence" readonly />
                </div>
            </div>
            <div class="col-2 bg-secondary px-0">
                <h6 id="actionsLbl" class="font-weight-bold my-3 text-center text-white" data-shortTxt="ACT" data-longTxt="ACTIONS">ACT</h6>
            </div>
            <div class="col-1 bg-secondary px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" id="actions" name="Actions" value="@Model.Actions" readonly />
                </div>
            </div>
        </div>
        <!-- FACIAL || OFF / DOD -->
        <div class="row bg-white">
            <div class="col-3 px-0 facialHairDiv">
                <h6 id="facialHairLbl" class="font-weight-bold my-3 text-center">FACIAL HAIR:</h6>
            </div>
            <div class="col-3 border-right border-dark px-0 facialHairDiv">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="text" id="facialHair" name="FacialHair" value="@Model.FacialHair" readonly />
                </div>
            </div>

            <div class="col-2 bg-secondary px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-secondary border border-danger bw-thick text-center font-weight-bold my-1 adjSkillBtn" data-shortTxt="OFF" data-longTxt="OFF HAND" data-skill="OffHand" data-skillclass="Combat" type="button">OFF</button>
                </div>
            </div>
            <div class="col-1 bg-secondary px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-OffHand" value="@Model.Skills.Where(a=>a.Name == "OffHand").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div class="col-2 bg-secondary px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block btn-secondary border border-danger bw-thick text-center font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Dodge" data-skillclass="Combat" type="button">DODGE</button>
                </div>
            </div>
            <div class="col-1 bg-secondary px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Dodge" value="@Model.Skills.Where(a=>a.Name == "Dodge").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
        </div>

        <!-- CHARACTER SKILLSET -->
        <div class="row bg-black">
            <div class="col-12">
                <h4 id="outlineLbl" class="font-weight-bold my-2 text-center text-white">CHARACTER SKILLSET</h4>
            </div>
        </div>

        <!-- COMBAT || SOCIAL -->
        <div class="row bg-white">
            <div class="col-6 border-right border-dark">
                <h4 id="combatSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="COMBAT SKILLS" data-shortTxt="COMBAT">COMBAT</h4>
            </div>
            <div class="col-6">
                <h4 id="socialSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="SOCIAL SKILLS" data-shortTxt="SOCIAL">SOCIAL</h4>
            </div>
        </div>
        <!-- UNARM / THROW || PERSUADE / DECIEVE -->
        <div class="row bg-white">
            <div id="combat-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="UNARM" data-longTxt="UNARMED" data-skill="Unarmed" data-skillclass="Combat" type="button">UNARM</button>
                </div>
            </div>
            <div id="combatVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Unarmed" value="@Model.Skills.Where(a=>a.Name == "Unarmed").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-2" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="THROWN" data-longTxt="THROWN WEAPONS" data-skill="Thrown" data-skillclass="Combat" type="button">THROWN</button>
                </div>
            </div>
            <div id="combatVal-2" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Thrown" value="@Model.Skills.Where(a=>a.Name == "Thrown").Select(a=>a.Value).First()" readonly />
                </div>
            </div>

            <div id="social-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="PERSUADE" data-longTxt="PERSUASION" data-skill="Persuasion" data-skillclass="social" type="button">PERSUADE</button>
                </div>
            </div>
            <div id="socialVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Persuasion" value="@Model.Skills.Where(a=>a.Name == "Persuasion").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="social-2" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="DECEIVE" data-longTxt="DECEPTION" data-skill="Deception" data-skillclass="Social" type="button">DECEIVE</button>
                </div>
            </div>
            <div id="socialVal-2" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Deception" value="@Model.Skills.Where(a=>a.Name == "Deception").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
        </div>
        <!-- GRAPPLE / ARCHERY || GAMES / ANIMALS -->
        <div class="row bg-white">
            <div id="combat-3" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="GRAPPLE" data-longTxt="GRAPPLING" data-skill="Grapple" data-skillclass="Combat" type="button">GRAPPLE</button>
                </div>
            </div>
            <div id="combatVal-3" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Grapple" value="@Model.Skills.Where(a=>a.Name == "Grapple").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-4" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Archery" data-skillclass="Combat" type="button">ARCHERY</button>
                </div>
            </div>
            <div id="combatVal-4" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Archery" value="@Model.Skills.Where(a=>a.Name == "Archery").Select(a=>a.Value).First()" readonly />
                </div>
            </div>

            <div id="social-3" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-danger bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Games" data-skillclass="Social" type="button">GAMES</button>
                </div>
            </div>
            <div id="socialVal-3" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Games" value="@Model.Skills.Where(a=>a.Name == "Games").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="social-4" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="ANIMALS" data-longTxt="ANIMAL HANDLING" data-skill="AnimalHandling" data-skillclass="Social" type="button">ANIMALS</button>
                </div>
            </div>
            <div id="socialVal-4" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-AnimalHandling" value="@Model.Skills.Where(a=>a.Name == "AnimalHandling").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
        </div>
        <!-- SHORT / PISTOLS || ADD -->
        <div class="row bg-white">
            <div id="combat-5" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="SHORT" data-longTxt="SHORT WEAPONS" data-skill="Short" data-skillClass="Combat" type="button">SHORT</button>
                </div>
            </div>
            <div id="combatVal-5" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Short" value="@Model.Skills.Where(a=>a.Name == "Short").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-6" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Pistols" data-skillclass="Combat" type="button">PISTOLS</button>
                </div>
            </div>
            <div id="combatVal-6" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Pistols" value="@Model.Skills.Where(a=>a.Name == "Pistols").Select(a=>a.Value).First()" readonly />
                </div>
            </div>


            <div id="social-5" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="SocialSkills" type="button">ADD</button>
            </div>
            <div id="socialVal-5" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
            <div id="social-6" class="col-2 px-0"></div>
            <div id="socialVal-6" class="col-1 px-0"></div>
        </div>
        <!-- LONG / RIFLES || EMPTY -->
        <div class="row bg-white">
            <div id="combat-7" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="LONG" data-longTxt="LONG WEAPONS" data-skill="Long" data-skillclass="Combat" type="button">LONG</button>
                </div>
            </div>
            <div id="combatVal-7" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Long" value="@Model.Skills.Where(a=>a.Name == "Long").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-8" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Rifles" data-skillclass="Combat" type="button">RIFLES</button>
                </div>
            </div>
            <div id="combatVal-8" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Rifles" value="@Model.Skills.Where(a=>a.Name == "Rifles").Select(a=>a.Value).First()" readonly />
                </div>
            </div>

            <div id="social-7" class="col-2 px-0"></div>
            <div id="socialVal-7" class="col-1 px-0"></div>
            <div id="social-8" class="col-2 px-0"></div>
            <div id="socialVal-8" class="col-1 px-0"></div>
        </div>
        <!-- TWO / ADD || EMPTY-->
        <div class="row bg-white">
            <div id="combat-9" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="2 HAND" data-longTxt="2 HAND WEAPONS" data-skill="TwoHand" data-skillclass="Combat" type="button">2 HAND</button>
                </div>
            </div>
            <div id="combatVal-9" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-TwoHand" value="@Model.Skills.Where(a=>a.Name == "TwoHand").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-10" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="CombatSkills" type="button">ADD</button>
            </div>
            <div id="combatVal-10" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" type="number" value="" readonly />
                </div>
            </div>

            <div id="social-9" class="col-2 px-0"></div>
            <div id="socialVal-9" class="col-1 px-0"></div>
            <div id="social-10" class="col-2 px-0"></div>
            <div id="socialVal-10" class="col-1 px-0"></div>
        </div>
        <!-- CHAIN || EMPTY -->
        <div class="row bg-white">
            <div id="combat-11" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="CHAIN" data-longTxt="CHAIN WEAPONS" data-skill="Chain" data-skillclass="Combat" type="button">CHAIN</button>
                </div>
            </div>
            <div id="combatVal-11" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Chain" value="@Model.Skills.Where(a=>a.Name == "Chain").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-12" class="col-2 px-0"></div>
            <div id="combatVal-12" class="col-1 px-0 border-right border-dark"></div>

            <div id="social-11" class="col-2 px-0"></div>
            <div id="socialVal-11" class="col-1 px-0"></div>
            <div id="social-12" class="col-2 px-0"></div>
            <div id="socialVal-12" class="col-1 px-0"></div>
        </div>
        <!-- SHIELDS || EMPTY -->
        <div class="row bg-white">
            <div id="combat-13" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Shield" data-skillclass="Combat" type="button">SHIELDS</button>
                </div>
            </div>
            <div id="combatVal-13" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Shield" value="@Model.Skills.Where(a=>a.Name == "Shield").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="combat-14" class="col-2 px-0"></div>
            <div id="combatVal-14" class="col-1 px-0 border-right border-dark"></div>

            <div id="social-13" class="col-2 px-0"></div>
            <div id="socialVal-13" class="col-1 px-0"></div>
            <div id="social-14" class="col-2 px-0"></div>
            <div id="socialVal-14" class="col-1 px-0"></div>
        </div>
        <!-- EMPTY BY DEFAULT-->
        <div class="row bg-white">
            <div id="combat-15" class="col-2 px-0"></div>
            <div id="combatVal-15" class="col-1 px-0"></div>
            <div id="combat-16" class="col-2 px-0"></div>
            <div id="combatVal-16" class="col-1 px-0 border-right border-dark"></div>

            <div id="social-15" class="col-2 px-0"></div>
            <div id="socialVal-15" class="col-1 px-0"></div>
            <div id="social-16" class="col-2 px-0"></div>
            <div id="socialVal-16" class="col-1 px-0"></div>
        </div>

        <!-- COVERT || SURVIVAL -->
        <div class="row bg-white border-top border-dark">
            <div class="col-6 border-right border-dark">
                <h4 id="covertSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="COVERT SKILLS" data-shortTxt="COVERT">COVERT</h4>
            </div>
            <div class="col-6">
                <h4 id="survivalSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="SURVIVAL SKILLS" data-shortTxt="SURVIVAL">SURVIVAL</h4>
            </div>
        </div>
        <!-- SNEAK / CONCEAL || SCAVENGE / FORAGE -->
        <div class="row bg-white">
            <div id="covert-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Sneak" data-skillclass="Covert" type="button">SNEAK</button>
                </div>
            </div>
            <div id="covertVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Sneak" value="@Model.Skills.Where(a=>a.Name == "Sneak").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="covert-2" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="CONCEAL" data-longTxt="CONCEALMENT" data-skill="Conceal" data-skillclass="Covert" type="button">CONCEAL</button>
                </div>
            </div>
            <div id="covertVal-2" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Conceal" value="@Model.Skills.Where(a=>a.Name == "Conceal").Select(a=>a.Value).First()" readonly />
                </div>
            </div>

            <div id="survival-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Scavenge" data-skillclass="Survival" type="button">SCAVENGE</button>
                </div>
            </div>
            <div id="survivalVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Scavenge" value="@Model.Skills.Where(a=>a.Name == "Scavenge").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="survival-2" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Forage" data-skillclass="Survival" type="button">FORAGE</button>
                </div>
            </div>
            <div id="survivalVal-2" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Forage" value="@Model.Skills.Where(a=>a.Name == "Forage").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
        </div>
        <!-- SLEIGHT / ADD || NAVIG / ADD -->
        <div class="row bg-white">
            <div id="covert-3" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Sleight" data-skillclass="Covert" type="button">SLEIGHT</button>
                </div>
            </div>
            <div id="covertVal-3" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Sleight" value="@Model.Skills.Where(a=>a.Name == "Sleight").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="covert-4" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="CovertSkills" type="button">ADD</button>
            </div>
            <div id="covertVal-4" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>

            <div id="survival-3" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="NAVIG" data-longTxt="NAVIGATION" data-skill="Navigation" data-skillclass="Survival" type="button">NAVIG</button>
                </div>
            </div>
            <div id="survivalVal-3" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Navigation" value="@Model.Skills.Where(a=>a.Name == "Navigation").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="survival-4" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="SurvivalSkills" type="button">ADD</button>
            </div>
            <div id="survivalVal-4" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
        </div>
        <!-- EMPTY BY DEFUALT-->
        <div class="row bg-white">
            <div id="covert-5" class="col-2 px-0"></div>
            <div id="covertVal-5" class="col-1 px-0"></div>
            <div id="covert-6" class="col-2 px-0"></div>
            <div id="covertVal-6" class="col-1 px-0 border-right border-dark"></div>

            <div id="survival-5" class="col-2 px-0"></div>
            <div id="survivalVal-5" class="col-1 px-0"></div>
            <div id="survival-6" class="col-2 px-0"></div>
            <div id="survivalVal-6" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="covert-7" class="col-2 px-0"></div>
            <div id="covertVal-7" class="col-1 px-0"></div>
            <div id="covert-8" class="col-2 px-0"></div>
            <div id="covertVal-8" class="col-1 px-0 border-right border-dark"></div>

            <div id="survival-7" class="col-2 px-0"></div>
            <div id="survivalVal-7" class="col-1 px-0"></div>
            <div id="survival-8" class="col-2 px-0"></div>
            <div id="survivalVal-8" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="covert-9" class="col-2 px-0"></div>
            <div id="covertVal-9" class="col-1 px-0"></div>
            <div id="covert-10" class="col-2 px-0"></div>
            <div id="covertVal-10" class="col-1 px-0 border-right border-dark"></div>

            <div id="survival-9" class="col-2 px-0"></div>
            <div id="survivalVal-9" class="col-1 px-0"></div>
            <div id="survival-10" class="col-2 px-0"></div>
            <div id="survivalVal-10" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="covert-11" class="col-2 px-0"></div>
            <div id="covertVal-11" class="col-1 px-0"></div>
            <div id="covert-12" class="col-2 px-0"></div>
            <div id="covertVal-12" class="col-1 px-0 border-right border-dark"></div>

            <div id="survival-11" class="col-2 px-0"></div>
            <div id="survivalVal-11" class="col-1 px-0"></div>
            <div id="survival-12" class="col-2 px-0"></div>
            <div id="survivalVal-12" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="covert-13" class="col-2 px-0"></div>
            <div id="covertVal-13" class="col-1 px-0"></div>
            <div id="covert-14" class="col-2 px-0"></div>
            <div id="covertVal-14" class="col-1 px-0 border-right border-dark"></div>

            <div id="survival-13" class="col-2 px-0"></div>
            <div id="survivalVal-13" class="col-1 px-0"></div>
            <div id="survival-14" class="col-2 px-0"></div>
            <div id="survivalVal-14" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="covert-15" class="col-2 px-0"></div>
            <div id="covertVal-15" class="col-1 px-0"></div>
            <div id="covert-16" class="col-2 px-0"></div>
            <div id="covertVal-16" class="col-1 px-0 border-right border-dark"></div>

            <div id="survival-15" class="col-2 px-0"></div>
            <div id="survivalVal-15" class="col-1 px-0"></div>
            <div id="survival-16" class="col-2 px-0"></div>
            <div id="survivalVal-16" class="col-1 px-0"></div>
        </div>

        <!-- MEDICAL || SCIENCE -->
        <div class="row bg-white border-top border-dark">
            <div class="col-6 border-right border-dark">
                <h4 id="medicalSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="MEDICAL SKILLS" data-shortTxt="MEDICAL">MEDICAL</h4>
            </div>
            <div class="col-6">
                <h4 id="scienceSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="SCIENCE SKILLS" data-shortTxt="SCIENCE">SCIENCE</h4>
            </div>
        </div>
        <!-- INJURY / ILLNESS || ADD -->
        <div class="row bg-white">
            <div id="medical-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Injury" data-skillclass="Medical" type="button">INJURY</button>
                </div>
            </div>
            <div id="medicalVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Injury" value="@Model.Skills.Where(a=>a.Name == "Injury").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="medical-2" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-skill="Illness" data-skillclass="Medical" type="button">ILLNESS</button>
                </div>
            </div>
            <div id="medicalVal-2" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Illness" value="@Model.Skills.Where(a=>a.Name == "Illness").Select(a=>a.Value).First()" readonly />
                </div>
            </div>

            <div id="science-1" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="ScienceSkills" type="button">ADD</button>
            </div>
            <div id="scienceVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
            <div id="science-2" class="col-2 px-0"></div>
            <div id="scienceVal-2" class="col-1 px-0"></div>
        </div>
        <!-- ADD || EMPTY-->
        <div class="row bg-white">
            <div id="medical-3" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="MedicalSkills" type="button">ADD</button>
            </div>
            <div id="medicalVal-3" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
            <div id="medical-4" class="col-2 px-0"></div>
            <div id="medicalVal-4" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-3" class="col-2 px-0"></div>
            <div id="scienceVal-3" class="col-1 px-0"></div>
            <div id="science-4" class="col-2 px-0"></div>
            <div id="scienceVal-4" class="col-1 px-0"></div>
        </div>
        <!-- EMPTY BY DEFAULT -->
        <div class="row bg-white">
            <div id="medical-5" class="col-2 px-0"></div>
            <div id="medicalVal-5" class="col-1 px-0"></div>
            <div id="medical-6" class="col-2 px-0"></div>
            <div id="medicalVal-6" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-5" class="col-2 px-0"></div>
            <div id="scienceVal-5" class="col-1 px-0"></div>
            <div id="science-6" class="col-2 px-0"></div>
            <div id="scienceVal-6" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="medical-7" class="col-2 px-0"></div>
            <div id="medicalVal-7" class="col-1 px-0"></div>
            <div id="medical-8" class="col-2 px-0"></div>
            <div id="medicalVal-8" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-7" class="col-2 px-0"></div>
            <div id="scienceVal-7" class="col-1 px-0"></div>
            <div id="science-8" class="col-2 px-0"></div>
            <div id="scienceVal-8" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="medical-9" class="col-2 px-0"></div>
            <div id="medicalVal-9" class="col-1 px-0"></div>
            <div id="medical-10" class="col-2 px-0"></div>
            <div id="medicalVal-10" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-9" class="col-2 px-0"></div>
            <div id="scienceVal-9" class="col-1 px-0"></div>
            <div id="science-10" class="col-2 px-0"></div>
            <div id="scienceVal-10" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="medical-11" class="col-2 px-0"></div>
            <div id="medicalVal-11" class="col-1 px-0"></div>
            <div id="medical-12" class="col-2 px-0"></div>
            <div id="medicalVal-12" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-11" class="col-2 px-0"></div>
            <div id="scienceVal-11" class="col-1 px-0"></div>
            <div id="science-12" class="col-2 px-0"></div>
            <div id="scienceVal-12" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="medical-13" class="col-2 px-0"></div>
            <div id="medicalVal-13" class="col-1 px-0"></div>
            <div id="medical-14" class="col-2 px-0"></div>
            <div id="medicalVal-14" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-13" class="col-2 px-0"></div>
            <div id="scienceVal-13" class="col-1 px-0"></div>
            <div id="science-14" class="col-2 px-0"></div>
            <div id="scienceVal-14" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="medical-15" class="col-2 px-0"></div>
            <div id="medicalVal-15" class="col-1 px-0"></div>
            <div id="medical-16" class="col-2 px-0"></div>
            <div id="medicalVal-16" class="col-1 px-0 border-right border-dark"></div>

            <div id="science-15" class="col-2 px-0"></div>
            <div id="scienceVal-15" class="col-1 px-0"></div>
            <div id="science-16" class="col-2 px-0"></div>
            <div id="scienceVal-16" class="col-1 px-0"></div>
        </div>

        <!-- CRAFTSMAN || CONSTRUCTION -->
        <div class="row bg-white border-top border-dark">
            <div class="col-6 border-right border-dark">
                <h4 id="craftsmanSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="CRAFTSMAN SKILLS" data-shortTxt="CRAFTSMAN">CRAFTSMAN</h4>
            </div>
            <div class="col-6">
                <h4 id="constructionSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="CONSTRUCTION SKILLS" data-shortTxt="CONSTRUCTION">CONSTRUCTION</h4>
            </div>
        </div>
        <!-- CRAFTSMAN / ADD || CONSTRUCTION / ADD -->
        <div class="row bg-white">
            <div id="craftsman-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="CRAFT" data-longTxt="CRAFTSMAN" data-skill="Craftsman" data-skillclass="Craftsman" type="button">CRAFT</button>
                </div>
            </div>
            <div id="craftsmanVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Craftsman" value="@Model.Skills.Where(a=>a.Name == "Craftsman").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="craftsman-2" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="CraftsmanSkills" type="button">ADD</button>
            </div>
            <div id="craftsmanVal-2" class="col-1 px-0 border-right border-dark">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" value="" readonly />
                </div>
            </div>

            <div id="construction-1" class="col-2 px-0">
                <div class="input-group my-0">
                    <button class="btn btn-block border border-warning bw-thick font-weight-bold my-1 px-0 adjSkillBtn" data-shortTxt="CONSTRCT" data-longTxt="CONSTRUCTION" data-skill="Construction" data-skillclass="Construction" type="button">CONSTRCT</button>
                </div>
            </div>
            <div id="constructionVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0 standardSkill" type="number" name="Skill-Construction" value="@Model.Skills.Where(a=>a.Name == "Construction").Select(a=>a.Value).First()" readonly />
                </div>
            </div>
            <div id="construction-2" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="ConstructionSkills" type="button">ADD</button>
            </div>
            <div id="constructionVal-2" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
        </div>

        <!-- EMPTY BY DEFAULT -->
        <div class="row bg-white">
            <div id="craftsman-3" class="col-2 px-0"></div>
            <div id="craftsmanVal-3" class="col-1 px-0"></div>
            <div id="craftsman-4" class="col-2 px-0"></div>
            <div id="craftsmanVal-4" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-3" class="col-2 px-0"></div>
            <div id="constructionVal-3" class="col-1 px-0"></div>
            <div id="construction-4" class="col-2 px-0"></div>
            <div id="constrValuction-4" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="craftsman-5" class="col-2 px-0"></div>
            <div id="craftsmanVal-5" class="col-1 px-0"></div>
            <div id="craftsman-6" class="col-2 px-0"></div>
            <div id="craftsmanVal-6" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-5" class="col-2 px-0"></div>
            <div id="constructionVal-5" class="col-1 px-0"></div>
            <div id="construction-6" class="col-2 px-0"></div>
            <div id="constructionVal-6" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="craftsman-7" class="col-2 px-0"></div>
            <div id="craftsmanVal-7" class="col-1 px-0"></div>
            <div id="craftsman-8" class="col-2 px-0"></div>
            <div id="craftsmanVal-8" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-7" class="col-2 px-0"></div>
            <div id="constructionVal-7" class="col-1 px-0"></div>
            <div id="construction-8" class="col-2 px-0"></div>
            <div id="constructionVal-8" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="craftsman-9" class="col-2 px-0"></div>
            <div id="craftsmanVal-9" class="col-1 px-0"></div>
            <div id="craftsman-10" class="col-2 px-0"></div>
            <div id="craftsmanVal-10" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-9" class="col-2 px-0"></div>
            <div id="constructionVal-9" class="col-1 px-0"></div>
            <div id="construction-10" class="col-2 px-0"></div>
            <div id="constructionVal-10" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="craftsman-11" class="col-2 px-0"></div>
            <div id="craftsmanVal-11" class="col-1 px-0"></div>
            <div id="craftsman-12" class="col-2 px-0"></div>
            <div id="craftsmanVal-12" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-11" class="col-2 px-0"></div>
            <div id="constructionVal-11" class="col-1 px-0"></div>
            <div id="construction-12" class="col-2 px-0"></div>
            <div id="constructionVal-12" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="craftsman-13" class="col-2 px-0"></div>
            <div id="craftsmanVal-13" class="col-1 px-0"></div>
            <div id="craftsman-14" class="col-2 px-0"></div>
            <div id="craftsmanVal-14" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-13" class="col-2 px-0"></div>
            <div id="constructionVal-13" class="col-1 px-0"></div>
            <div id="construction-14" class="col-2 px-0"></div>
            <div id="constructionVal-14" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="craftsman-15" class="col-2 px-0"></div>
            <div id="craftsmanVal-15" class="col-1 px-0"></div>
            <div id="craftsman-16" class="col-2 px-0"></div>
            <div id="craftsmanVal-16" class="col-1 px-0 border-right border-dark"></div>

            <div id="construction-15" class="col-2 px-0"></div>
            <div id="constructionVal-15" class="col-1 px-0"></div>
            <div id="construction-16" class="col-2 px-0"></div>
            <div id="constructionVal-16" class="col-1 px-0"></div>
        </div>

        <!-- TECHNOLOGY || TRANSPORTATION -->
        <div class="row bg-white border-top border-dark">
            <div class="col-6 border-right border-dark">
                <h4 id="technologySkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="TECHNOLOGY SKILLS" data-shortTxt="TECHNOLOGY">TECHNOLOGY</h4>
            </div>
            <div class="col-6">
                <h4 id="transportationSkillsLbl" class="font-weight-bold my-2 text-center" data-longTxt="TRANSPORTATION SKILLS" data-shortTxt="TRANSPORTATION">TRANSPORTATION</h4>
            </div>
        </div>
        <!-- ADD || ADD -->
        <div class="row bg-white">
            <div id="technology-1" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="TechnologySkills" type="button">ADD</button>
            </div>
            <div id="technologyVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
            <div id="technology-2" class="col-2 px-0"></div>
            <div id="technologyVal-2" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-1" class="col-2 px-0">
                <button class="btn btn-block btn-info border border-dark text-center font-weight-bold addSkillBtn my-2 mx-auto" data-target="TransportationSkills" type="button">ADD</button>
            </div>
            <div id="transportationVal-1" class="col-1 px-0">
                <div class="input-group my-2">
                    <input class="form-control text-center px-0 py-0" value="" readonly />
                </div>
            </div>
            <div id="transportation-2" class="col-2 px-0"></div>
            <div id="transportationVal-2" class="col-1 px-0"></div>
        </div>
        <!-- EMPTY BY DEFAULT -->
        <div class="row bg-white">
            <div id="technology-3" class="col-2 px-0"></div>
            <div id="technologyVal-3" class="col-1 px-0"></div>
            <div id="technology-4" class="col-2 px-0"></div>
            <div id="technologyVal-4" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-3" class="col-2 px-0"></div>
            <div id="transportationVal-3" class="col-1 px-0"></div>
            <div id="transportation-4" class="col-2 px-0"></div>
            <div id="transportationVal-4" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="technology-5" class="col-2 px-0"></div>
            <div id="technologyVal-5" class="col-1 px-0"></div>
            <div id="technology-6" class="col-2 px-0"></div>
            <div id="technologyVal-6" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-5" class="col-2 px-0"></div>
            <div id="transportationVal-5" class="col-1 px-0"></div>
            <div id="transportation-6" class="col-2 px-0"></div>
            <div id="transportationVal-6" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="technology-7" class="col-2 px-0"></div>
            <div id="technologyVal-7" class="col-1 px-0"></div>
            <div id="technology-8" class="col-2 px-0"></div>
            <div id="technologyVal-8" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-7" class="col-2 px-0"></div>
            <div id="transportationVal-7" class="col-1 px-0"></div>
            <div id="transportation-8" class="col-2 px-0"></div>
            <div id="transportationVal-8" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="technology-9" class="col-2 px-0"></div>
            <div id="technologyVal-9" class="col-1 px-0"></div>
            <div id="technology-10" class="col-2 px-0"></div>
            <div id="technologyVal-10" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-9" class="col-2 px-0"></div>
            <div id="transportationVal-9" class="col-1 px-0"></div>
            <div id="transportation-10" class="col-2 px-0"></div>
            <div id="transportationVal-10" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="technology-11" class="col-2 px-0"></div>
            <div id="technologyVal-11" class="col-1 px-0"></div>
            <div id="technology-12" class="col-2 px-0"></div>
            <div id="technologyVal-12" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-11" class="col-2 px-0"></div>
            <div id="transportationVal-11" class="col-1 px-0"></div>
            <div id="transportation-12" class="col-2 px-0"></div>
            <div id="transportationVal-12" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="technology-13" class="col-2 px-0"></div>
            <div id="technologyVal-13" class="col-1 px-0"></div>
            <div id="technology-14" class="col-2 px-0"></div>
            <div id="technologyVal-14" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-13" class="col-2 px-0"></div>
            <div id="transportationVal-13" class="col-1 px-0"></div>
            <div id="transportation-14" class="col-2 px-0"></div>
            <div id="transportationVal-14" class="col-1 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="technology-15" class="col-2 px-0"></div>
            <div id="technologyVal-15" class="col-1 px-0"></div>
            <div id="technology-16" class="col-2 px-0"></div>
            <div id="technologyVal-16" class="col-1 px-0 border-right border-dark"></div>

            <div id="transportation-15" class="col-2 px-0"></div>
            <div id="transportationVal-15" class="col-1 px-0"></div>
            <div id="transportation-16" class="col-2 px-0"></div>
            <div id="transportationVal-16" class="col-1 px-0"></div>
        </div>

        <!-- ABILITIES -->
        <div class="row bg-black">
            <div class="col-12">
                <h4 id="abilitiesLbl" class="font-weight-bold my-2 text-center text-white">CHARACTER ABILITIES</h4>
            </div>
        </div>
        <!-- ADD -->
        <div class="row bg-white">
            <div id="ability-1" class="col-3 px-0 d-flex justify-content-center">
                <button class="btn btn-info border border-dark text-center font-weight-bold addAbilityBtn my-2 mx-auto w-50" type="button">ADD</button>
            </div>
            <div id="ability-2" class="col-3 px-0"></div>
            <div id="ability-3" class="col-3 px-0"></div>
            <div id="ability-4" class="col-3 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="ability-5" class="col-3 px-0"></div>
            <div id="ability-6" class="col-3 px-0"></div>
            <div id="ability-7" class="col-3 px-0"></div>
            <div id="ability-8" class="col-3 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="ability-9" class="col-3 px-0"></div>
            <div id="ability-10" class="col-3 px-0"></div>
            <div id="ability-11" class="col-3 px-0"></div>
            <div id="ability-12" class="col-3 px-0"></div>
        </div>

        <div class="row bg-white">
            <div id="ability-13" class="col-3 px-0"></div>
            <div id="ability-14" class="col-3 px-0"></div>
            <div id="ability-15" class="col-3 px-0"></div>
            <div id="ability-16" class="col-3 px-0"></div>
        </div>

        <!-- SUBMIT -->
        <div id="submitSlot" class="row bg-secondary d-none">
            <div class="col-md-4"></div>
            <div class="col-12 col-md-4 my-3">
                <input id="submitBtn" class="btn btn-lg btn-success border border-light mx-auto btn-block" type="submit" value="CONFIRM &amp; SAVE" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </fieldset>
}