@{
    ViewBag.Title = "Character List";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('body').css('background-image', 'url("../Content/Images/Textures/darkScratch.jpg")');
    });
</script>

<div id="IM-Modals"></div>

<div class="row">
    <div class="col-12 col-md-9">
        <img src="~/Content/Images/Graffiti/chooseCharacter-Red-900x150.png" class="img-fluid mx-auto d-block h-15" />
    </div>
    <div class="col-3 d-md-none"></div>
    <div class="col-6 col-md-3">
        <a href="@Url.Action("NewCharacter", "Characters")" class="btn btn-lg btn-red font-weight-bold border border-light rounded mx-auto btn-block my-md-5" type="button">NEW CHARACTER</a>
    </div>
    <div class="col-3 d-md-none"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/name-black-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/status-green-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/background-white-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/total-white-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/exp-red-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="col-md-1"></div>
</div>

<div id="characterList" class="bg-black my-2 px-2 border border-light rounded"></div>

<div class="row graveyard">
    <div class="col-12">
        <img src="~/Content/Images/Graffiti/graveyard-detailed-trans-900x150.png" class="img-fluid mx-auto d-block h-15" />
    </div>
</div>

<div class="row graveyard">
    <div class="col-md-1"></div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/name-black-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="d-none d-md-block col-md-2"></div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/background-white-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="d-none d-md-block col-md-2"></div>
    <div class="d-none d-md-block col-md-2">
        <img src="~/Content/Images/Graffiti/total-white-500x150.png" class="img-fluid mx-auto d-block mh-5" />
    </div>
    <div class="col-md-1"></div>
</div>

<div id="characterGraveyard" class="bg-black my-2 px-2 border border-light rounded graveyard"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Custom/SignalR-IM.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Custom/CharacterSelect.js")" type="text/javascript"></script>
}
